@charset "shift_jis";
#footer #csslink a,
#footer #csslink a:hover { text-decoration: none; }
#footer #csslink {
  text-align: right;
  font-size: 80%;
  margin: 0;
  padding: 0 20px 5px 0;
}
#footer #csslink,
#footer #csslink a,
#footer #csslink a:hover { color: #006699; }

#footer #csslink,
#footer #csslink a,
#footer #csslink a:hover { background-color: #fffb07; }

a:link { color:#3694c8; } /*未訪問リンクの色を「green」にする。*/
a:visited { color:#0bc2cf; } /*訪問済みリンクの色を「orange」にする。*/
a:hover { color:#003366; } /*マウスを乗せた時（ホバー）した時のリンクの色を「pink」にする。*/
a:active { color:gray; } /*クリックした時のリンクの色を「gray」にする。*/

body {
    font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
    background: #fcfae0;
    font-size: 14px;
}

img {
max-width: 100%;
height: auto;
}

#wrapper {
  text-align: left;
  width: 1000px;
  margin: 0px auto 0px auto;
  padding: 0px 0px 0px 0px;
  border: 1px solid #fffb07;
}

#header {
  margin: 0px 0px 0px 0px;
  padding: 10px 20px 5px 20px;
  background-color: #fffd77;
}

#contents {
  width: 799px;
  float: right;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-left: 1px solid #003366;
}

.contents-inner {
  margin: 20px 20px 20px 20px;
  padding: 0px 0px 0px 0px;
}


.box-low{
  display: flex;
  justify-content: center;
}

.box-low img{
  margin: 3px;
}

/*
.photo li{
  float: left;
  margin: 20px;
  list-style: none;
}*/

#sidebar {
  width: 200px;
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.sidebar-inner {
  margin: 20px 10px 20px 10px;
  padding: 0px 0px 0px 0px;
}

/*---------------------------------�t�b�^�[����*/
#footer {
  text-align: center;
  clear: both;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #fffd77;
}

/*----------------------------------------------------------
  ���j���[�����̎w��
----------------------------------------------------------*/
.menu {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type: none;
}

.menu li {
  display: inline;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.menu li a {
  text-decoration: none;
  width: 170px;
  display: block;
  margin: 0px 0px 1px 0px;
  padding: 5px 5px 5px 5px;
  background-color: #333333;
  color: #cccccc;
  overflow: hidden;
}

.menu li a:hover {
  text-decoration: underline;
  background-color: #fffb07;
  color: #000033;
}

/*----------------------------------------------------------
  �w�b�_�[���̎w��
----------------------------------------------------------*/

/* -- ���o�� -- */
h1 {
    font-size: 28px;
    font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
    border-left: 7px solid #116be0;
    border-bottom:5px double #116be0;
    padding:.3em
}

h2 {
    font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
    border-left: 4px solid #3694c8;
    border-bottom:4px double #3694c8;
    padding:.3em
}

h3 {
    font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
    border-left: 2px solid #0bc2cf;
    border-bottom:2px double #0bc2cf;
    padding:.3em
}


h5 {
    font-size: 12px;
    line-height: 1;
  }
/*
h6 { }
*/
p {
  margin: 0px 0px 0.5em 0px;
  padding: 0px 0px 0px 0px;
  line-height: 1.5em;
}

/*番号なし箇条書き*/
#contents ul {
    font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
    /*font-style: italic;*/
    color: #666666;
    font-size: 16px;
    border-top:2px dashed #ff9900;
    border-bottom:2px dashed #ff9900;
}

#contents ol {
    font-family: 'Open Sans', 'Noto Sans JP', sans-serif;
    /*font-style: italic;*/
    color: #666666;
    font-size: 16px;
    border-top:2px dashed #ff9900;
    border-bottom:2px dashed #ff9900;
}

#contents li { }

/*----------------------------------------------------------
  ���쌠�\�L
----------------------------------------------------------*/
#footer p {
  margin: 0px 0px 0px 0px;
  padding: 0.5em 0 0.5em 0;
}
